<!-- start:header -->
<div id="header">
  <div class="overlay">
    <!-- start:header-top -->
    <div class="header-top">
      <div class="text-center">
        <div class="sosmed-header-top">
          <!--a href="#"><i class="fa fa-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook"></i></a-->
          <a href="https://twitter.com/151satoshi"><i class="fa fa-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter"></i></a>
          <!--a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" data-placement="bottom" title="Google Plus"></i></a-->
          <!--a href="#"><i class="fa fa-youtube" data-toggle="tooltip" data-placement="bottom" title="Youtube"></i></a-->
          <!-- ref="#"><i class="fa fa-github" data-toggle="tooltip" data-placement="bottom" title="Github"></i></a-->
          <!--a href="#"><i class="fa fa-linkedin" data-toggle="tooltip" data-placement="bottom" title="Linkedin"></i></a> -->
          <a href="https://github.com/satoshi151"><i class="fa fa-github" data-toggle="tooltip" data-placement="bottom" title="kuma no satoshi blog GitHub"></i></a>
          <a href="/rss.xml"><i class="fa fa-rss" data-toggle="tooltip" data-placement="bottom" title="RSS Feed"></i></a>


        </div>
      </div>
    </div>
    <!-- end:header-top -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4">
          <div class="text-center">
            <div class="title-header">
              <h1>
                <span>//</span> kuma no satoshi
              </h1>
              <p></p>
            </div>	
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end:header -->

