<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="thumbnail" style="padding: 4px; border: 1px solid #ddd; border-radius:4px">
      <a href="{{ include.src }}" target="_blank">
        <img src="{{ include.src }}" alt="{{ include.description }}" style="width:100%">
        <div class="caption" style="text-align: center; font-style:italic">
          <p>{{ include.description }}</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
