<div class="widget-sidebar">
  <h3 class="title-widget-sidebar">
    // OPENSUSE
  </h3>
  <div class="content-widget-sidebar">
    <center>
      <a href="http://software.opensuse.org/"><img src="http://counter.opensuse.org/small" border="0"></a> 
    </center>
  </div>
</div>

<div class="widget-sidebar">
  <h3 class="title-widget-sidebar">
    // &Uacute;LTIMAS ENTRADAS
  </h3>
  <div class="content-widget-sidebar"><ul>
      {% for post in site.posts limit:5 %}
      <li class="recent-post">
      <div class="thumbnail">
        <img src="img/content/thumbnail1.jpg" class="img-responsive">
      </div>
      <a href="#"><h5>{{ post.title }}</h5></a>
      <p><small><i class="fa fa-calendar" data-original-title="" title=""></i>&ensp;<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">       {{ post.date | date: "%b %-d, %Y" }}</time></small></p>
      </li>
      <hr>
      {% endfor %}	</ul>
  </div>
</div>




<!--div class="widget-sidebar">
  <h3 class="title-widget-sidebar">
    // LINKS DE INTER&Eacute;S
  </h3>
  <div class="content-widget-sidebar">
    <ul>
      <li><a href="#"><h5><i class="fa fa-angle-double-right" data-original-title="" title=""></i></h5></a></li>
    </ul>
  </div>
</div-->

<div class="widget-sidebar">
  <h3 class="title-widget-sidebar">
    // LINKS DE INTER&Eacute;S
  </h3>
  <div class="content-widget-sidebar">
    <ul>
      <li><a href="#"><h5><i class="fa fa-angle-double-right" data-original-title="" title=""></i></h5></a></li>
    </ul>
  </div>
</div>
