---
layout: default
---


<!-- start:single blog -->
<div id="single-blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
       
        <!-- start:single content -->
        <div id="main-single-content" class='node-content'>
          <img src="{{ page.topimg }}" class="img-responsive">
          <div class="content-single">
            <h2><a href="/{{ page.url }}">{{ page.title }}</a></h2>
            <div class="tag">
              <p>	
              <span><i title="" data-original-title="" class="fa fa-user"></i> <a href="#">{{ page.author }}</a></span> 
              <i title="" data-original-title="" class="fa fa-circle"></i> 
              <span><i title="" data-original-title="" class="fa fa-calendar"></i><a href="#"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></a></span>
              <i title="" data-original-title="" class="fa fa-circle"></i>
              <span><i title="" data-original-title="" class="fa fa-folder"></i> {% for category in page.categories %}<a href="#">{{ category }}</a> {% endfor %}</span>
              {% if page.tags %}<i title="" data-original-title="" class="fa fa-circle"></i>
              <span><i title="" data-original-title="" class="fa fa-tag"></i>{% for tag in page.tags %}<a href="#">{{ tag }}</a> {% endfor %}</span>{% endif %}
              </p>
            </div>
            <div class="hr-single"></div>
            {{ content }}
            <div class="hr-single"></div>
            {% include comments.html %}
          </div>
        </div>
        <!-- end:single content -->


      </div>
      <div class="col-lg-4 col-md-4">
        <div id="sidebar">
          {% include sidebar.html %}   
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end:single blog -->
	<!-- start:footer -->
	<footer>
		<div class="container">
      <div class="row">
        {% include bottombar.html %}
      </div>
		</div>
	</footer>
  <!-- end:footer -->


<!-- start:javascript -->
<!-- end:javascript -->

</body>
</html>

